{% extends "base.html" %}

{% block content %}
  <h1>
    Product list
    <a href="{% url 'shop_service:order-create' %}" class="btn btn-primary link-to-page">
      Create an order
    </a>
  </h1>
  <hr>

  <form action="" method="get" class="form-inline">
    {{ search_form }}
    <input type="submit" value="🔎" class="btn btn-secondary btn-sm btn-inline-form">
  </form><br>

  {% if product_list %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User</th>
          <th scope="col">Product name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      {% for product in product_list %}
        <tbody>
          <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.user }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no any products!</p>
  {% endif %}
{% endblock %}
